**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
examples/inventory.yaml
examples/main.retry
kubeconfig
metal-key
metal-key.pub
base64
.terraform.tfplan
ca.crt*
.terraform.lock.hcl
