apiVersion: v1
kind: Config
preferences: {}

# Define the cluster
clusters:
- cluster:
    certificate-authority-data: {{ ca_cert }}
    # You'll need the API endpoint of your Cluster here:
    server: https://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:6443
  name: default

# Define the user
users:
- name: {{ user }}
  user:
    as-user-extra: {}
    client-key-data: {{ user_cert }}
    token: {{ user_token }}

# Define the context: linking a user to a cluster
contexts:
- context:
    cluster: default
    namespace: {{ namespace }}
    user: {{ user }}
  name: {{ namespace }}

# Define current context
current-context: {{ namespace }}
